*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

body {
  background-color: #1b2229;
  color: #d6f763;
}

#container {
  padding: 12px;
}

#canvasContainer {
  padding-top: 12px;
  width: 800px;
  height: 300px;
  /* margin: 0 auto; */
}

#canvasChart {
  background-color: #26303b;
  /* max-height: 500px; */
}

#controls {
  margin-top: 10px;
}

#chartTypeSelect {
  cursor: pointer;
  padding: 5px;
  margin-top: 5px;
}

#kpControls {
  margin-top: 10px;
}

#kpUserId,
#kpButton {
  padding: 5px;
}

#kpButton {
  cursor: pointer;
  background-color: #f55e53;
  transition: background-color 0.2s;
}

#kpButton:hover {
  background-color: #e64e43;
}
